<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sohel.rushinalarm">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MaterialAnimations.Black">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AlarmActivity"
            android:theme="@style/MaterialAnimations.Black" />
        <activity
            android:name=".Activities.AddAlarmActivity"
            android:theme="@style/MaterialAnimations.Black" />
        <activity android:name=".Activities.SnoozeDurationActivity" />
        <activity
            android:name=".Activities.RepeatActivity"
            android:theme="@style/MaterialAnimations.Black" />
        <activity
            android:name=".Activities.SoundActivity"
            android:theme="@style/MaterialAnimations.Black" />
        <activity android:name=".Activities.AlarmRingingActivity" />

        <service
            android:name=".JobSchduler.MyJobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:name=".JobSchduler.SnoozeSchdulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <receiver android:name=".AlarmReceiver" />

        <activity android:name=".Activities.TestActivity"></activity>
    </application>

</manifest>